.accordion {
    max-width: 872px;
}

footer p small a {
    text-decoration: none;
    color: gray;
}

@media only screen and (max-width:576px) {

    .carousel-caption h1 {
        font-size: 14px;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    .btn-outline-primary {
        display: none;
    }

    .see {
        display: none;
    }

    .para-width {
        height: 100px;
        overflow-y: scroll;
    }

    .register {
        text-align: center;
        flex-direction: column;
    }

    .student-header {
        text-align: center;
    }

    .trust-company {
        display: none;
    }

    br {
        display: none;
    }

    footer br {
        display: block;
    }
}

@media only screen and (min-width:576px) and (max-width:992px) {
    .carousel-caption h1 {
        font-size: 14px;
    }

    .carousel-caption p {
        font-size: 10px;
    }

    .see {
        display: none;
    }

    .para-width {
        height: 75px;
        overflow-y: scroll;
    }

    .register {
        text-align: center;
        flex-direction: column;
    }

    .trust-company {
        display: none;
    }

    br {
        display: none;
    }

    footer br {
        display: block;
    }
}

@media only screen and (min-width:992px) {
    .view {
        display: none;
    }
}