@media only screen and (max-width:576px) {
    .btn-outline-primary {
        display: none;
    }

    .see {
        display: none;
    }

    .para-width {
        height: 100px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width:576px) and (max-width:992px) {
    .see {
        display: none;
    }

    .para-width {
        height: 75px;
        overflow-y: scroll;
    }
}

@media only screen and (min-width:992px) {
    .view {
        display: none;
    }
}